extends layout

block content
  h1= title

    #wrapper

      #iceBandwidth
      p Usage: 
        |  <span id='iceBandwidthUsed'></span> / <span id='iceBandwidthLimit'></span> MB
      #iceInfo
      p SIM: 
        |  <span id='iceInfoSim'></span>
      p IP: 
        |  <span id='iceInfoIp'></span>