extends layout

block content
	.container
		h1 Welcome
		if (!user)
			a(href="/login") Login
		if (user)
			p You are currently logged in as #{user.email}
			p Usage #[span#iceBwUsage] / #[span#iceBwLimit] MB
			p SIM #[span#iceInfoSim]
			p IP #[span#iceInfoIp]
			a(href="/logout") Logout