extends layout

block content
  h1= title
    h2 Overview
    #wrapper
      #bandwidthInfo
      p Usage: 
          |  <span id='bandwidthInfoUsed'></span> / <span id='bandwidthInfoLimit'></span> MB