extends layout

block content
	
	.container
		.row
			if (!user)
				.col-md-6
					.panel.panel-default
						.panel-heading Login
						.panel-body
							p You are not logged in, a(href="/login") Login
			if (user)
				.col-md-6
					.panel.panel-default
						.panel-heading Dashboard
						.panel-body
							.row
								.col-md-5.col-xs-5
									p Username: 
								.col-md-5.col-xs-5
									p #{user.email}
							.row
								.col-md-5.col-xs-5
									p IP address: 
								.col-md-5.col-xs-5
									span#iceInfoIp
							.row
								.col-md-5.col-xs-5
									p Bandwidth:
								.col-md-5.col-xs-5
									.progress
										.progress-bar.progress-bar-success(role="progressbar", id="iceUsageProgress", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width:0%") #[span#iceUsageInfo]
									.progress
										.progress-bar.progress-bar-success(role="progressbar", id="iceExtraProgress", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width:0%") #[span#iceExtraInfo]
							.row
								.col-md-5.col-xs-5
									p Bandwidth Limit:
								.col-md-5.col-xs-5
									span#iceBwLimit
							.row
								.col-md-5.col-xs-5
									p Bandwidth Usage:
								.col-md-5.col-xs-5
									span#iceBwUsage
							.row
								.col-md-5.col-xs-5
									p Bandwidth Extra:
								.col-md-5.col-xs-5
									span#iceBwExtra
							.row
								.col-md-12.col-xs-12
									a(href="/logout") Logout
				.col-md-6
					.panel.panel-default
						.panel-heading Info
						.panel-body
							.row
								.col-md-5.col-xs-5
									p Test
								.col-md-5.col-xs-5
									p Test

